.venv/
pycache/
__pycache__/
*.pyc
.env
/LLM/
!chat_service/llm/
!chat_service/llm/**
chat_service/llm/**/__pycache__/
chat_service/llm/**/*.pyc
venv/
logs/
BASE_DE_CONOCIMIENTO/
BASE_DE_CONOCIMIENTO_ROBOT/
debug/
